body{
background-color: black;
  color: white;
  margin: 0;
}
%button{
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 5px 0;
  width: 130px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 150px;
}
.button{
@extend %button;
}
#chat{
  border: solid white;
  width: 500px;
  height: 600px;
}
.disparition{
  display: none;
}
%inputarea{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 150px;
  position: relative;
  top: 25px;
}
%input{
  border-radius: 15px;
  padding: 0.5em 1em;
}
.login{
  @extend %input;
}
form{
@extend %inputarea;
}
#loginform{
position: relative;
  top: 150px;
  a{
    width: 150px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 5px 0;
    text-decoration: none;
    margin-top: 15px;
  }
}
%personalizeButton{
  @extend %button;
  width: 150px;
  position: relative;
  top: 0;
}
#registerform{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 150px;
  position: relative;
  top: 150px;
  input{
  @extend %input;
  }
  button{
  @extend %personalizeButton;
  }
  a{
  @extend %personalizeButton;
  }
}
.chatform{
  display: flex!important;
  justify-content: left!important;
  margin-left: 15px;
  width: 350px;
}